/* UserForm */

.moneyForm{
    height: 500px;
    /* background-image: radial-gradient(circle, white, silver); */
}

.addMoney{
    display: inline-flex;
    text-align: center;
}

.addMoneyDiv {
    border-top-style: ridge;
    border-width: 2px;
    margin: 10px;
    padding: 10px;
}

.nav-item .sidebar-brand-text {
    font-size: 14px !important;
    font-weight: normal !important;
    text-transform: none !important;
}

/* Home-Seite */

.bg-image {
    background: url('../img/home/headerimg.jpg'), rgba(0,0,0,0.8); 
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.figure-home-background {
    background-color: rgba(0,0,0,0.5); 
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.zoom-in:hover {
    transform: scale(1.05);
}

.zoom-in {
    transition: transform .25s ease-in-out;
}

.col-home-games { 
    height: 100%; 
    position: relative; 
}

.col-home-games::after {
	content: ''; 
	width: 100%; 
	height: 100%;
	background-color: #6a6d6f; 
	opacity: 0.11; 
    padding: 5px;
	position: absolute; 
	top: 0; 
	left: 0;
	z-index: 1;
    border-radius: 10px;
    box-shadow:0 1px 2px rgba(0,0,0,0.4);
}

.opacity-0 {
  opacity:0!important;
}
.opacity-1 {
  opacity:0.2!important;
}
.opacity-2 {
  opacity:0.4!important;
}
.opacity-3 {
  opacity:0.6!important;
}
.opacity-4 {
  opacity:.8!important;
}
.opacity-5 {
  opacity:1!important;
}

/* Maybe even support hover opacity shifts */
.opacity-0h5 {
  opacity:0!important;
  transition: opacity .25s ease-in-out!important;
  -moz-transition: opacity .25s ease-in-out!important;
  -webkit-transition: opacity .25s ease-in-out!important;
}
.opacity-0h5:hover {
  opacity:1!important;
}
/* Home-Seite */