*{
margin: 0;
padding: 0;

}
body{
    min-height: 100vh;
}

/*HOME SCREEN*/

.header{
    height: 400px;
    background-image: url("../img/Background1.jpg");
    background-size: cover;
    text-align: center;
    font-family: "Century Gothic", sans-serif;
    color: white;
}

.LogIn{
    height: 500px;
}

.moneyForm{
    height: 500px;
    /* background-image: radial-gradient(circle, white, silver); */

}

.addMoney{
    display: inline-flex;
    
}


.LogIn .btn{
    margin: 5px;
}

.secondpic{
    height: 600px;
    background-image: url("../img/Background2.jpg");
    background-size: cover;
    text-align: center;
    font-family: "Century Gothic", sans-serif;
    color: white;
}

.thirdpic{
    height: 600px;
    background-image: url("../img/Background3.jpg");
    text-align: center;
    background-size: 125%;
    background-position: -400px -600px;
    
}

.parallax
{
    background-attachment: fixed;
}

.logo{
    width: 200px;
}

.main-center {
    margin: 0 auto;
    max-width: 600px;
    padding: 0px 40px 20px 40px;
}

.main-login {
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px  rgba(0, 0, 0, 0.3);

}

.image_outer_container{
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
}

.image_inner_container{
    border-radius: 50%;
    padding: 5px;
    background: #919191;
}
.image_inner_container img{
    height: 100px;
    width: 100px;
    border-radius: 50%;

}

.image_outer_container .addfile{
    cursor: pointer;
    background-image: url("../../res/img/plus-icon.jpg");
    background-size: 100%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

/*
NAVBAR
*/

.navbar {
    position: fixed;
    width: 60px;
    height: 100%;
    background: #3c3f41;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
}

.navbar ul {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.navbar ul li{
    position: relative;
    width: 100%;
    list-style: none;
}

.navbar ul li:hover{
    background: grey;
}

.navbar ul li a{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navbar ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navbar ul li:last-child{
    position: absolute;
    bottom: 0;
}

.navbar ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
#main{
    transition: margin-left .5s;
}

@media (max-width: 767px)
{
    .navbar{
        width: 100%;
    }
}

