




/* UserForm */

.moneyForm{
    height: 500px;
    /* background-image: radial-gradient(circle, white, silver); */

}

.addMoney{
    display: inline-flex;
    text-align: center;

}

.addMoneyDiv {
    border-top-style: ridge;
    border-width: 2px;
    margin: 10px;
    padding: 10px;
}

.nav-item i {
    font-size: 18px!important;
}
.sidebar-toggled .nav-item i{
    font-size: 30px!important;
}

.nav-item .sidebar-brand-text {
    font-size: 14px!important;
    font-weight: normal!important;
    text-transform: none!important;
}